.cell {
  height: 68px;
  margin-top: 32px;
  background: white;
  border-radius: 30px;
  margin-left: 8px;
  margin-right: 8px;

  &:hover {
    background: white;
  }
}

.whiteText {
  color: white;
}

.darkText {
  color: black;
}
